<!-- Footer -->
<footer class="footer">
  <div class="footer-container">
    <div class="footer-logo">
      <a href="/">
        <img src="/assets/imgs/logo.svg" alt="Logo ISB" />
      </a>
    </div>
    <div class="footer-links">
      <ul>
        <li><a href="/manifesto/">Manifesto</a></li>
        <li><a href="/doutrina/">Doutrina</a></li>
        <li><a href="/estatuto/">Estatuto</a></li>
        <li><a href="/blog/">Blog</a></li>
        <li><a href="/contato/">Contato</a></li>
      </ul>
    </div>
    <div class="footer-social">
      <a href="https://www.instagram.com/igrejaisb/" target="_blank">Instagram</a>
      <a href="https://twitter.com/igrejaisb" target="_blank">Twitter</a>
      <a href="https://www.facebook.com/igrejaisb" target="_blank">Facebook</a>
    </div>
    <p class="footer-copyright">© 2025 Igreja Satanista Brasileira. Todos os direitos reservados.</p>
  </div>
</footer>