/* Variáveis */
:root {
  --preto-absoluto: #000000;
  --vermelho-sangue: #8b0000;
  --cinza-amoled: #121212;
}

/* Navbar */
#navbar {
  transition: transform 0.3s ease-in-out;
}

#navbar.scrolled-up {
  transform: translateY(0);
}

#navbar.scrolled-down {
  transform: translateY(-100%);
}

/* Menu Hamburguer */
.menu-btn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  cursor: pointer;
}

.bar {
  width: 24px;
  height: 3px;
  background-color: var(--vermelho-sangue);
  margin: 3px 0;
  transition: all 0.3s ease;
}

.menu-btn.open .top {
  transform: rotate(45deg) translate(5px, 5px);
}

.menu-btn.open .middle {
  opacity: 0;
}

.menu-btn.open .bottom {
  transform: rotate(-45deg) translate(5px, -5px);
}

/* Ajustes de layout */
main {
  padding-top: 4rem;
  scroll-margin-top: 4rem;
}

@media (min-width: 768px) {
  main {
    padding-top: 4.5rem;
  }
}
