/* Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  background-color: #0d0d0d;
  color: #d4d4d4;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  line-height: 1.6;
}

/* Variáveis */
:root {
  --primary-color: #d60000;
  --secondary-color: #222;
  --accent-color: #900;
  --text-light: #f0f0f0;
  --text-dark: #111;
  --transition: 0.3s ease;
}