.container {
  width: 90%;
  max-width: 1200px;
  margin: auto;
}

.main-content {
  padding: 3rem 0;
}

.intro-section {
  margin-bottom: 4rem;
  text-align: center;
}

.intro-section h2 {
  color: var(--primary-color);
  margin-bottom: 1rem;
}